<div class="container">
<div class="row">
  <div class="col-xs-3">
  	<div class="row">
    <h2>User info</h2>
    <%= render 'users/profile', user: current_user %>

    <div class="row">
    <h2>New book</h2>
   </div>
    <%= render 'books/newform', book: @book %>

  </div>
  </div>
  <div class="col-xs-9">
    <h2>Users</h2>
    <!--users一覧 -->
    <%= render 'index', users: @users %>
    <!--users一覧 -->
   </div>
</div>
</div>
